.zagolovok {
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 35%;
    margin-left: 0%;
    font-weight: 750;
    display: block;
    max-width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}
.block1{
    margin-top: 0.5%;
    height: 160px; 
}
.text1 {
    text-indent: 3.5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 500;
    display: block;
  
    max-width: 96%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block2 {
    margin-top:0.5%;
    height: 300px;
}
.text2 {
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    padding-right: 2%;
    font-weight: 500;
    display: block;
    float: left;
    max-width: 62%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block2 img {
    max-width: 34%;
}
.block3 {
    margin-top: 1%;
}
.text3{
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 2%;
    margin-left: 2%;
    font-weight: 500;
    display: block;
    float: right;
    max-width: 46%;
    margin-bottom: 1%;
    margin-top: 1%;
    line-height: 1.6em;
    text-align: justify; 
}
.block3 img {
    width: 50%;
   
}
.block4 {
    margin-top:1%;
    height: 100px;
}
.text4 {
    text-indent: 4%;            /* отступ типа (абзац) */
    color:#ce9b42;
    font-size: 1.2em;
    margin-left: 2%;
    padding-right: 2%;
    display: block;
    float:left;
    max-width: 96%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;   
    font-weight: 700;     /* выравнивание текста по ширине блока */
}