.zagolovok {
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 37%;
    margin-left: 0%;
    font-weight: 750;
    display: block;
    max-width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}
.block1{
    margin-top: 0.5%;
    height: 170px; 
}
.text1 {
    text-indent: 3.5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 500;
    display: block;
    max-width: 96%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block2 {
    margin-top:1%;
    height: 700px;
}
.text2 {
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    font-weight: 500;
    display: block;
    float: left;
    max-width: 31%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
}
.block2 img {
    max-width: 100%;
    margin-top:5%;
}
.tip_setki {
    margin-left:30%;
    margin-top:3%;
}
.opisanie_setki {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#vnutriramnaya{
    margin-bottom: 13.2%;
}