.zagolovok {
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 35%;
    margin-left: 0%;
    font-weight: 750;
    display: block;
    max-width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}
.block1{
    margin-top: 0.5%;
    height: 120px; 
}
.text1 {
    text-indent: 3.5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 500;
    display: block;
  
    max-width: 96%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block2 {
    margin-top:0.5%;
    height: 20%;
}
.text2 {
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    padding-right: 2%;
    font-weight: 500;
    display: block;
    float:left;
    max-width: 60%;
    margin-bottom: 1%;
    margin-top: 1%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block2 img {
    max-width: 35%;
}
.block3 {
    margin-top: 1%
}
.text3{
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-right: 2%;
    margin-left: 2%;
    font-weight: 500;
    display: block;
    float: right;
    max-width: 60%;
    margin-bottom: 1%;
    margin-top: 1%;
    line-height: 1.6em;
    text-align: justify; 
}
.block3 img {
    float: left;
    width: 34%;
   
}
#akcent1 {
    text-indent: 3%; 
    margin-left: 2%;
    color: #ce9b42;
    font-size: 1.3em;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 700;
}
.block4 {
    margin-top:0%;
    height: 380px;
}
.text4 {
    text-indent: 5%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    padding-right: 2%;
    font-weight: 500;
    display: block;
    float:left;
    max-width: 65%;
    margin-bottom: 1%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block4 img {
    max-width: 30%;
}
#akcent2 {
    text-indent: 5%; 
    color: #ce9b42;
    font-size: 1.0em;
    margin-bottom: 1%;
    font-weight: 700;
}
.block5 {
    margin-top:2%;
    height: 360px;
}
.text5 {
    text-indent: 4%;            /* отступ типа (абзац) */
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 2%;
    padding-right: 2%;
    font-weight: 500;
    display: block;
    float:left;
    max-width: 80%;
    margin-bottom: 1%;
    margin-top: 0%;
    line-height: 1.6em;
    text-align: justify;        /* выравнивание текста по ширине блока */
}
.block5 img {
    max-width: 14%;
}
